h1 {
    color: aquamarine;
}

#first-news{

    font-size: xx-large;
    color: blueviolet;
}

#second-news{
    
    color: darkslateblue;
    font-size: 30px;
}

.header{

    font-size: larger;
    text-transform: uppercase;
}
.warning{

    color: red;
}