h1#h1-id.h1-class{
    color: darksalmon;  /*Selector Specificity (1,1,1)*/
}
.h1-class{
    color: yellow;  /*Selector Specificity (0,1,0)*/
}

h1{
    color: blue; /*Selector Specificity (0,0,1)*/
}

p{
    color: red;
}

/*Specificity #4 <style> inline
  Specificity #5 !important  (Bad practices.) 
*/