body{
  background-color: #333;
  color: white;
}

h1{
  color: red;
  font-size: 4rem;
}
p{
  color: aqua;
  font-size: 2rem;
}

/* @media all and (max-width: 576px){ */
  
/* @media(max-width:995px){
  h1{
    color: blueviolet;
  }
} */
@media all and (min-width: 576px){
  h1{
    color: green;
  }

}

@media (min-width: 885px){
  h1{
    color: blue;
  }
}

@media (min-height: 334px){
  p{
    color: yellow;
  }
}

@media (orientation:landscape) and (min-height:400px){
  p{
    color: coral;
  }
}
