body{
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 0px;
}

.scenario{
  margin: 10px 0px;
  border: 1px solid #ccc;
  padding: 10px;
}

.scenario-1{
  width: 100%;
}

.scenario-2{
  width: 50%;
}

.px{
  background-color: green;
  width: 200px;
}

.percentage{
  background-color: red;
  width: 50%;
}

.view{
  background-color: blueviolet;
  width: 50vw;
} 