body{
  background-color: #333;
  color: white;
}

:root{
  --principal-color: rgb(171, 11, 235);
  --principal-width:250px;
}

.tittle{
  color: var(--principal-color);
}

.footer{
  color: var(--principal-color);
}

.content{
  background-color: antiquewhite;
  padding: 3rem;
  max-width: var(--principal-width);
}