body {
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: system-ui;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
}